<div class="card" style="width: 18rem;">
    {% if is_detail == True %}
        {% for image in property.propertyimage_set.all %}
            <img src="{{ image.image_url }}"  alt="property image" class="card-img-top"/>
        {% endfor %}
    {% else %}
        <img src="{{ property.propertyimage_set.first.image_url }}" class="card-img-top" alt="Property image">
    {% endif %}

    <div class="card-body">
      <h5 class="card-title">{{ property.address }}</h5>
      <p class="card-text">Price: {{ property.price }}</p>

      <p>Nr of bedrooms: {{ property.nr_of_bedrooms}}
      <p>Nr of bathrooms: {{ property.nr_of_bathrooms}}
      <p class="card-text">Square meters: {{ property.square_meters}}</p>
      <p class="card-text">Property type: {{ property.property_type}}</p>
      {% if property.soldOrNotSold == 0 %}
          <div class="property-category"><h3>SOLD!</h3></div>
      {% endif %}
      {% if is_detail == True %}
          <a href="javascript:history.back()" class="btn btn-primary">Go back</a>
      {% else %}
          <a href="{% url "property-by-id" id=property.id %}" class="btn btn-primary">View</a>
      {% endif %}
  </div>
</div>


{#{#}
{#<div class="property-item">#}
{#    <h3>{{ property.address }}</h3>#}
{#    <div class="property-thumbnail" style="background-image: url({{ property.thumbnail }})"></div>#}
{#    <div class="property-category">Price: {{ property.price }}</div>#}
{#    <div class="property-category">Nr of rooms: {{ property.nrOfRooms }}</div>#}
{#    <div class="property-category">Square meters: {{ property.squareMeters }}</div>#}
{#    <div class="property-category">Property type: {{ property.propertyType }}</div>#}
{#    {% if property.soldOrNotSold == 0 %}#}
{#    <div class="property-category"><h3>SOLD!</h3></div>#}
{#    {% endif %}#}
{#    {% if is_detail == True %}#}
{#    <a href="javascript:history.back()">Go back</a>#}
{#    {% else %}#}
{#    <a href="{% url "property-by-id" id=property.id %}">View</a>#}
{#    {% endif %}#}
{#</div>}#}