# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
*.sqlite3
/media/
/static/

# Environment files
.env
castle_project/venv/
venv/

# VSCode / JetBrains IDEs
.vscode/
.idea/

# MacOS / Windows trash
.DS_Store
Thumbs.db
"verklega 2.zip" 
