{% extends "base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/property.css' %}?v=1.1">
    {% if not hide_create_btn %}
        <div class="mb-4">
            <a href="{% url 'create-property' %}" class="btn btn-outline-dark"><i class="fa fa-home"></i> Create New Property</a>
        </div>
    {% endif %}
    <div class="property-container">

        {% for property in properties %}

            {% include "property/_single_property.html" with is_detail=False property=property %}

        {% endfor %}
    </div>

{% endblock %}