{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}

        <div class="rounded-box search-box">
            <h2>Filters</h2>
            <hr>
            <form method="get" action="." class="search-form">
                <div class="form-row">
                    <!-- Price Range -->
                    <div class="form-group">
                        <label for="price-toggle">Price Range (ISK)</label>
                        <div id="price-slider" class="slider-container">
                            <div class="slider-values">
                                <span id="min-value">{{ min_price|default:0|floatformat:0 }}</span>
                                <span>to</span>
                                <span id="max-value">{{ max_price|default:20000000|floatformat:0 }}</span>
                            </div>
                            <input type="range" id="min-price" name="min_price" min="0" max="20000000"
                                    value="{{ request.GET.min_price|default:0 }}" step="10000">
                            <input type="range" id="max-price" name="max_price" min="0" max="20000000"
                                    value="{{ request.GET.max_price|default:20000000 }}" step="10000">
                        </div>
                    </div>
                    <!-- Postal Code -->
                    <div class="form-group postal-code">
                        <label for="postal_code">Postal Code</label>
                        <input type="text" id="postal_code" name="postal_code" placeholder="e.g. 101" value="{{ request.GET.postal_code }}">
                    </div>
                    
                    
                </div>

                <div class="form-row">
                    <!-- Property Type -->
                    <div class="form-group">
                        <label for="property_type">Property Type</label>
                        <select id="property_type" name="property_type">
                            <option value="">All types</option>
                            {% for i in property_types %}
                                <option value="{{ i.id }}">{{ i.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-button-row">
                        <button type="submit" class="search-button" style="width: 100px;">Search</button>
                    </div>
                </div>
                
            </form>
        </div>

        <!-- Properties Box -->
        <div class="rounded-box properties-box">
            <h2 class="box-title">Available Properties</h2>
            <hr>
            <div class="property-grid">
                {% for property in properties %}
                    <div class="property-card">
                        <div class="property-image-container">
                            {% with property.propertyimage_set.first as first_image %}
                                {% if first_image %}
                                    <img src="{{ first_image.image_url }}" class="card-img-top" alt="Property image"/>
                                {% endif %}
                            {% endwith %}
                        </div>
                        <div class="property-info">
                            <h3>{{ property.address }} {{ property.house_number }}</h3><h4>{{ property.city }} {{ property. }}</h4>
                            <div class="property-meta">
                                {% if property.sold == 1 %}
                                    <span class="property-type">Available</span>
                                {% else %}
                                    <span class="property-type">Sold</span>
                                {% endif %}
                                <span class="property-price">{{ property.price |floatformat:0 }} ISK</span>
                            </div>
                            <p class="property-location">{{ property.location }}</p>
                            <p class="property-description">{{ property.description|truncatewords:20 }}</p>
                            <div class="button-container">
                                <a href="{% url 'property-by-id' property.id %}" class="button-wrapper">
                                    <button class="view-button">View Details</button>
                                </a>
                                <a href="{% url 'property-offer' property.id %}" class="button-wrapper">
                                    <button class="offer-button">Make Offer</button>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <script src="{% static 'js/property_filter.js' %}"></script>
        {% endblock %}