{% extends "base.html" %}
{% load static %}

{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Castle Apartments</title>
    <link rel="icon" href="{% static 'properties/images/castle.png' %}">
    <link rel="stylesheet" href="{% static 'properties/css/style.css' %}">
</head>
<body>
    <header>
        <h1>Castle Apartments</h1>
    </header>

    <main class="center-box">
        <form method="post" action="{% url 'register' %}" class="form-container">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="btn btn-primary" value="Register" />
        </form>
    </main>

    <footer>
        <img src="{% static 'properties/images/castle.png' %}" alt="Castle Icon">
        <p>Castle Apartments Co.</p>
    </footer>
</body>
</html>

{% endblock %}
